#whowepageheader {
    position: relative;
    display: flex;
    align-items: start;
    height: 100%;
    margin-top: var(--header-navdynamic);
    padding-block:2rem 0;
    background: rgb(1,16,36);
background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);
}

#aboutusnew{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: var(--header-navdynamic);
    padding-block: 100px 60px;
    text-align: center;
    background: rgb(1,16,36);
background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);

}

.whoweimage {
    position: absolute;
    height: 100%;
    inset: 0;
    object-fit: cover;
    width: 100%;
    filter: hue-rotate(10deg) saturate(240%) brightness(0.8);
    aspect-ratio: 16/9;
    z-index: -1;
    overflow: hidden;
}

.whoweimage2 {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);

}

.whoweimage2 {
    width: 200px;
    height: 200px;
    opacity: 0.5;
}

.whousnewfirst h1, .whofirst h1 {
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 1.4;
    font-size: 48px;
}

.whopageheader img {
    aspect-ratio: 16/9;
}


#makosinfo {
    /* min-height: 60vh; */
    padding-block: 2rem;
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);
}

.aboutusnewlanding {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}

 .subtitleaboutus {
    color: #dbe1ff;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 34px;
}

.coverwho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.makosimg {
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0 20px #03245338;
}


.jobcontents{
    display: flex;
    gap: 5px;
    align-items: center;
}

.anchlink{
    text-decoration: underline;
    text-underline-offset: 2px;
   text-decoration-color: rgb(160, 160, 160);
}

.jobcontents .anchicon{
    
    transition: all 300ms ease;
}

.jobcontents i{
    font-size: 20px;
}

.jobanchoer:hover .anchicon{
    transform: translateX(05px);
}

.makosimg img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-position: left;
}



.makospara {
    padding-block: 0 2rem;
}

.makospara p {
    color: #C6C6C6;
    font-weight: 300;
}

#culturesection{
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);
    padding-block: 4rem;
}

.culturegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.iconheading{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.ourcontent{
    color: #C6C6C6;
    font-weight: 300;
    margin-bottom: 1rem;
}

.iconheading i{
    font-size: 28px;
}

.cardmanagement {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.carlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    border: 3px solid #c6c6c634;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(3 20 52);
    background: linear-gradient(120deg, rgb(5, 15, 32) 50%, rgb(2, 17, 44) 100%);

}

.imgmanagement {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.imgmanagement img {
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1/1;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

.nameandcontent {
    text-align: center;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding-top: 1rem;
}

.nameandcontent .namemanage {
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.nameandcontent .contentmanage {
    color: #C6C6C6;
    text-align: left;
    font-weight: 200;
    line-height: 1.75;
}

.socailmanage{
    width: 100%;
}

.team-social-list {
    justify-content: center;
    margin-block: 1rem;
    gap: 2rem;
}


.team-social-list li a {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    background: #dddbff;
    color: rgb(0, 39, 89);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
}


.team-social-list li a:hover {
    background-color: #ffffff;

}

.awardsHeading{
    font-weight: 300;
    color: #C6C6C6;
    letter-spacing: 0.2px;
    word-spacing: 2px;
}


.awardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    row-gap:2rem;
    place-items: center;
    margin: 2rem  auto;
}

.awardimages{
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 39, 89, 01);
}

.awardimages img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

.awardlist{
    margin-block: 1.5rem 1rem;
}
.awardlist ul{
    margin-left: 1rem;
}

.awardlist li{
    color: #C6C6C6;
    list-style: disc;
    line-height: 1.5;
    margin-block: 1rem;
}

/* Mandatory Disclosure */

.docsgridouter{
    display: grid;
    place-items: center;
    padding-block: 4rem;
}

.docsgridinner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.docscard{
    text-align: center;
    border: 1px solid ;
    border-radius: 5px;
    padding: 1rem;
    background-color: transparent;
    transition: all .3s ease;
}

.docscard:hover{
    background-color: #f1f1f1;
   color: rgb(5, 55, 131);
}

.docscard .docstitle{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.docscard i{
    font-size: 42px;
}

/* Press release */
#press-release{
    padding-block: 2rem;
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);
   
}

.presscontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19em,1fr));
    gap: 1.5rem;
}

.press-content{
   padding: 1.5rem;
   background-color: rgb(1, 22, 49);
    border-radius: 10px;
    border: 1px solid rgb(2, 17, 44);
    height: auto;
    box-shadow: 0px 0px 10px rgba(109, 167, 255, 0.096);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.press-top{
    font-size: 1.15em;
    line-height: 1.5;
    font-weight: 500;
    word-wrap: break-word;
    letter-spacing: 0.5px;
}

.pressdate{
    font-size: 14px;
    color: #C6C6C6;
}

/* .press-content::before{
    content: "⨀";
    margin-right: 10px;
    
} */

/* Media Coverage */
#media-coverage{
    padding-block: 2rem;
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#011024",endColorstr="#010e1f",GradientType=1);
    
}

.newsoutercontainer{
    display: grid;
    place-items: center;
}

.newscontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.newscontainer a{
    background-color: rgb(1, 22, 49);
    border-radius: 10px;
    border: 1px solid rgb(2, 17, 44);
    height: auto;
    box-shadow: 0px 0px 20px rgba(109, 167, 255, 0.096);
}

.news-capsule{
    /* color: rgb(2, 17, 44); */
    padding: 1rem; 
    font-weight: 400; 
    display: grid;
    grid-template-columns: 1fr 5em;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    height: 100%;
    position: relative;

}

.newheading{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.newslogo{
    max-width: 100%;
    grid-row: span 2;
    grid-column: 2;
    height: auto;
    max-height: 2.5em;
    -o-object-fit: contain;
    object-fit: contain;
    align-self: center;
    text-align: center;
}

.news-name{
    grid-row: 2;
    grid-column: 1;
    align-self: flex-end;
    font-size: 14px;
    color: #C6C6C6;
}

.hrdivder{
    border-width: 3px;
    border-color:  #479CFC;
    opacity: 1;
}

.news-capsule{
    font-size: 22px;
}

.news-content::after{
    content: "...read more";
    font-size: 14px;
    margin-left: 5px;
    font-weight: 200;
}

.newscontainer a i{
    /* padding: 5px; */
    border-radius: 5px;
    align-self: self-end;
}

/* Contact person */

#contact-person{
    padding-block: 2rem;
    background: url('../assets/whoweare/contactpersonbg.png') no-repeat center;
    background-size: cover;
}
.contactpersoncontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.persontitle{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.personcard .personimage{
    aspect-ratio: 1/1;
    height: 240px;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 10px;
}

.contactperosninnfo{
    text-align: center;
}

.contactperosninnfo .contoctnamer{
    margin-block: 0.5rem;
    font-weight: 400;
    font-size: 20px;
}

.contactperosninnfo .contoctemail{
    font-weight: 300;
}

.contactperosninnfo .contoctemail a{
    text-decoration: underline;
    text-underline-offset: 5px;
}


#newSection{
    background-color:hsla(233,100%,4%,1);
background-image:
radial-gradient(at 52% 43%, hsla(255,100%,10%,1) 0px, transparent 50%),
radial-gradient(at 21% 86%, hsla(229,86%,8%,1) 0px, transparent 50%),
radial-gradient(at 81% 83%, hsla(220,87%,6%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(239,69%,13%,1) 0px, transparent 50%);
padding-block: 2rem;
}

#influencer{
    margin-top: var(--header-navdynamic);
    padding-block: 2rem;
}

.influencerwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.influ-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blue-volietgradient{
    color: #506BFC;
    background: linear-gradient(90deg, #506BFC 50%, #9944fa 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.influ-left p{
    color: #d4d4d4;
    font-weight: 400;    
    letter-spacing: 0.5px;
}

#influencer .infbtn{
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
}

.influ-right{
    height: 480px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 30px #f3d8e74b;
}

.influ-right img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}


#highinv{
    padding-block: 2rem;
    position: relative;
}

.highheading{
    text-align: center;
}

.highheading h2{
    font-size: 42px;
    margin-bottom: 2rem;
}

.invest-para{
    font-size: 20px;
    line-height: 30px;
    color: #d4d4d4;
}

.line-circle{
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 250px;
}

.highimage{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.highimage img{
    width: 55%;
    object-fit: contain;
}

.hightesti{
    font-size: 30px;
    text-align: center;
    background: linear-gradient(90deg, #e64467 39.58%, #c56c5c 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    font-weight: 700;
    margin: 0 auto;
}

#highrules{
    padding-block: 2rem;
    position: relative;
}

#highrules .line-circle{
    top: 50px;
    right: 180px;
    

}

#highrules .line-circle2{
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 350px;
}

.highpoints{
    text-align: start;

}
.singlepoints{
    font-size: 20px;
    margin-block: 1rem;
    color: #d4d4d4;
}

.singlepoints::before{
    content: "⨀";
    margin-right: 5px;
    color: #5b87ff;
}

.highaction{
    text-align: center;
    font-size: 32px;
    margin-top: 2rem;
    color: #d4d4d4;
    font-weight: 700;
}

.highaction span{
    color: #d9c69a;
}

.infbtncont{
    text-align: center;
    transform: translateY(-50px);
}

.infbtn{
    display: inline-block;
    min-width: 250px;
    padding: 10px 15px;
    border: 2px solid #506BFC;
    box-shadow: 
       -2.425px 19.8288px 22.1px rgba(80, 107, 252, 0.13);

    border-radius: 10px;
    background: linear-gradient(90deg, #00417b 50%, #0090d3 100%);
    transition: all 0.3s ease;
}

.infbtn:hover{
    box-shadow:   -0.425px 0.8288px 30.1px rgba(80, 106, 252, 0.322),
    -5.06204px 0px 11.0815px rgba(80, 107, 252, 0.08),
     -1.15046px 0px 5.35185px rgba(80, 107, 252, 0.05);
     
}


/* Investment */
#incestmentqanda{
    padding: 2rem;
}

.investmentwrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    max-height: 70vh;
    
}

.leftinvest{
    display: flex;
    flex-direction: column;

}

.investitem{
    padding: 1rem 1.2rem;

}

.investitem.active{
    color: #0090d3;
    border: 1px solid #0090d3;
}

.rightinvest{
    overflow-Y: scroll;
    max-height: 70vh;

}

.rightinvest::-webkit-scrollbar {
    display: none;
  }

  
  /* Hide scrollbar for IE, Edge and Firefox */
.rightinvest {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.contentx{
    padding: 1rem;
    min-height: 50vh;
}

/* Investment */


/* Our Goals */
.ourgoalheading{
    text-align: center;
}

.goalsheading{
    font-weight: 400;
    text-align: center;
}

.goalssubheading{
    font-weight: 200;
}

.missionvisionwraper{
    display: flex;
}

.missionvisionwraper img{
    height: 340px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.7);
}

.vision, .mission{
    padding: 1rem;
    flex-basis: 50%;
}

.missioncontent{
    margin-block: 1.5rem 1rem;
}


#valuessection{
    padding-block: 2rem;
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    position: relative;
}
.hrclass{
    background: rgb(1,16,36);
    background: -moz-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    background: radial-gradient(circle, rgba(1,16,36,1) 0%, rgba(1,14,31,1) 100%);
    margin: 0;
    border-style: dashed;
    border-width: 1px;
    border-color: #7b8dc4;
}

.value-heading{
    text-align: center;
    font-weight: 200;
}

.valueheading{
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}

.valuepara{
    font-weight: 300;
    color: #C6C6C6;
    text-align: center;
    line-height: 1.7;

}

.valueswrapper {
    --gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: var(--gap);
    margin: 3rem 0;
}
.valueiconswrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-block: 1rem;
}

.valueimg{
    aspect-ratio: 1/1;
    width: 2rem;
    height: auto;
}

#policies{
    padding-block: 2rem;
}
#policies .contactpageheading{
    color: #fff;

}
.policywrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 2rem;
}

.sidebar{
    border-right: 1px solid #C6C6C6;
    position: relative;
}

.stickywrapper{
    position: sticky;
    top: calc(var(--header-navdynamic) + 10px);
}

.menu{
    background-color: #d4d4d4;
    padding:10px 15px;
    width: 100%;
    border-radius: 05px;
  
    display: none;
}

.openmenu{
    pointer-events: none;
}


.menu i{
    color: black;
}

.sideanchorwrapper.active{
    display: flex;
}

.sideanchor{
    text-align: start;
    cursor: pointer;
    color: #C6C6C6;
}

.sideanchorwrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 05px;
    margin-top: 1rem;
    padding-right: 10px;
    
}

.policiescontent ul{
    margin-left: 1rem;
}

.policiescontent li{
    list-style: disc;
    margin-left: 1rem;
    margin-block: 1rem;
}

.contentpolicybox{
    display: none;
}

.contentpolicybox.show{
    display: block;
    animation: fadeIncust 300ms ease;    
}

@keyframes fadeIncust {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@media (min-width: 35rem){
    .valueswrapper>* {
        flex-basis: calc(50% - var(--gap));
    }
}



@media screen and (max-width:1110px) {
    .carlist {
        /* width: auto; */
    }
}

@media screen and (max-width:950px) {
    .cardmanagement {
        grid-template-columns: 1fr 1fr;
    }

    .docsgridinner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .newscontainer{
        grid-template-columns: 1fr;
    }

    .influ-right{
        height: auto;
    }
    
    .highimage{
        padding: 1rem;
    }

    .hightesti{
        width: 100%;
    }
}

@media screen and (max-width:500px) {

    #whowepageheader {
        padding-block: 30px;
        /* padding-inline: 0.5rem; */

    }

    #makosinfo{
        padding-block: 1rem;
    }

    .whowelanding {
        justify-content: center;
        text-align: center;
    }

    .whofirst {
        flex: 2;
    }

    .wholast {
        display: none;
    }

    .coverwho {
        grid-template-columns: 1fr;
        gap:0;
    }
    .subtitleaboutus{
        font-size: 22px;
    }

    .makosimg {
        height: auto;
    }

    .makospara{
        padding-block: 5px;
    }

    .iconheading i{
        font-size: 24px;
    }

    #culturesection{
        padding-block: 2rem;
    }

    .news-capsule{
        grid-template-columns: 1fr;
    }
    .newslogo{
        max-width: 4.5em;
        grid-row: 1;
        grid-column: 1;
        text-align: start;
    }

    .cardmanagement, .culturegrid {
        grid-template-columns: 1fr;
    }
    .presscontainer{
        display: flex;
        flex-direction: column;
    }

    .carlist {
        width: 100%;
    }

    .imgmanagement {
        height: auto;
    }

    .docsgridinner,.newscontainer{
        grid-template-columns: 1fr;
    }

    .highheading h2{
        font-size: 30px;
    }

    .influencerwrapper{
        grid-template-columns: 1fr;
    }

    .influ-right{
        grid-row: 1;
        grid-column: 1;
    }

    .invest-para{
        text-align: justify;
        font-size: 16px;
    }

    .highimage{
        padding: 0;
    }

    .highimage img{
        width: 100%;
    }

    .hightesti{
     font-size: 24px;
     font-weight: 600;
     line-height: normal;
    }

    .singlepoints{
        font-size: 18px;
    }

    .infbtncont{
        transform: translateY(0);
    }
    .infbtn{
        width: 100%;
        margin-top: 1rem;
    }
    #highrules .line-circle2{
        left: 0;
        bottom: 0;
        width: 150px;
    }
    
    #highrules .line-circle{
        top: 0px;
        right: 10px;
        width: 120px;
    }


    .missionvisionwraper{
        flex-direction: column;
    
    }

    .missionvisionwraper img{
        height: auto;
    }

    .policywrapper{
        grid-template-columns: 1fr;
    }

    .sidebar{
        border-right: none;
        border-bottom: 1px solid #C6C6C6;
    }

    .menu{
        margin-block: 1rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
    }

    .sideanchorwrapper{
        display: none;
    }


}

@media screen and (max-width:340px) {
    .whofirst h1 {
        font-size: 38px;
    }
}


/* 

    grid-template-columns: repeat(auto-fit,minmax(19em,1fr));
*/